body {
  background-color: rgb(103, 234, 133);
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(131, 226, 255);
}

li {
  display: inline;
  float: left;
}

li .navLink {
  display: block;
  padding: 14px 16px;
  color: black;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(247, 239, 89);
}

img {
  /* size: 5vw; */
  width: 200px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.charCard {
  /* background-color: rgb(251, 244, 122); */
  background-image: linear-gradient(rgb(247, 239, 89), white);
  border: 1px solid;
  border-color: rgb(31, 31, 31, 70);
  margin: 5px;
  min-width: 280px;
  max-width: 280px;
  box-shadow: 2px 2px 6px 3px rgb(103, 104, 103);
  border-radius: 20px;
}

/* .imgContainer{
  align-items: center;
  justify-content: center;
  justify-items: center;
} */

.charImg {
  display: block;
  margin: auto;
}

.searchDiv {
  text-align: center;
}

.searchTitle {
  color: rgb(0, 0, 0);
}

.cardList {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: transparent;
}

.cardLi {
  display: block !important;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

/* want to center pokemon img and search box */