body {
  background-color: rgb(103, 234, 133);
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(131, 226, 255);
}

li {
  display: inline;
  float: left;
}

li .navLink {
  display: block;
  padding: 14px 16px;
  color: black;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(247, 239, 89);
}

img {
  width: 50%;
  height: 50%;
}

/* want to center pokemon img and search box */